@use "./variables.scss" as *;

.app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  color: $color-white;
  background-color: black;
  margin: 20px;
}

.side-bar {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  background-color: $box-color;
  border-radius: 10px;
}

.profile-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 550px;
  background-color: $beige-color;
  border-radius: 10px;
  text-align: center;
}

.profile-component img {
  margin-bottom: 20px;
  padding: 0;
}

.profile-component p {
  margin-bottom: 20px;
  padding: 0;
}

.profile-component h2 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.profile-info {
  color: $color-white;
  display: grid;
  grid-template-rows: 1fr;
  align-items: center;
  justify-content: center;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 100%;
}

.wrapper {
  height: 100%;
  display: grid;
  align-items: end;
  justify-items: center;
  border-radius: 10px;
  position: relative;
}

.app-wrapper {
  margin-left: 20px;
}

.wrapper-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}

.box {
  width: 100%;
  height: 80%;
  border: 1px solid $box-color;
  padding-top: 50px;
  background-color: $box-color;
  color: $color-white;
  border-radius: 10px;

  &.wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
  }
}

.avatar {
  border-radius: 50%;
}

.span-data_weekly {
  font-size: 2.5em;
}

.span-element {
  margin-left: 20px;
  font-size: 1.5em;
}
