$font-stack: Helvetica, sans-serif;
// Declare SCSS variables
$primary-color: #333;
$secondary-color: #ccc;
$accent: #ffa500;
$font-stack: Helvetica, sans-serif;

//speciality colors
$orange-color: #f08630;
$blue-color: #5fb5f3;
$purple-color: #f17171;
$lightgreen-color: #2ee099;
$violet-color: #9712ef;
$yellow-color: #f1f823;
$box-color: #03053a;
$color-white: white;