// Import variables first
@use "./partials/variables.scss" as *;
@use "./partials/reset";

// Import media queries
@use "./partials/large.scss";
@use "./partials/medium.scss";
@use "./partials/small.scss";

.orange {
  background-color: $orange-color;
}

.blue {
  background-color: $blue-color;
}

.purple {
  background-color: $purple-color;
}

.lightgreen {
  background-color: $lightgreen-color;
}

.violet {
  background-color: $violet-color;
}

.yellow {
  background-color: $yellow-color;
}
